body{
        padding:0;
        margin:0;
        height:100%;
        width:100%;
}
.main{
        font-family: Arial;
            background: rgba(5, 37, 47, 0.12);
    width: 100%;
    height: 100%;
    
        background: url(bg.bmp);
}

.header, .center{
        background: rgba(255,255,255,0.2);
}

.header{
        padding: 5px;
}
.center{
        width: 100%;
        max-width:300px;
        display: block;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 250px;
        margin: auto;
            padding: 30px 0;
    
    border: solid 2px #797777;
    border-radius: 10px;
    
    
background: rgba(224,211,211,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(224,211,211,1) 2%, rgba(224,211,211,0.96) 13%, rgba(240,236,235,0.81) 61%, rgba(240,240,240,0.68) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(2%, rgba(224,211,211,1)), color-stop(13%, rgba(224,211,211,0.96)), color-stop(61%, rgba(240,236,235,0.81)), color-stop(100%, rgba(240,240,240,0.68)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(224,211,211,1) 2%, rgba(224,211,211,0.96) 13%, rgba(240,236,235,0.81) 61%, rgba(240,240,240,0.68) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(224,211,211,1) 2%, rgba(224,211,211,0.96) 13%, rgba(240,236,235,0.81) 61%, rgba(240,240,240,0.68) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(224,211,211,1) 2%, rgba(224,211,211,0.96) 13%, rgba(240,236,235,0.81) 61%, rgba(240,240,240,0.68) 100%);
background: radial-gradient(ellipse at center, rgba(224,211,211,1) 2%, rgba(224,211,211,0.96) 13%, rgba(240,236,235,0.81) 61%, rgba(240,240,240,0.68) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0d3d3', endColorstr='#f0f0f0', GradientType=1 );
      }
#myCanvas{
          position: absolute;
          top:0;
          left:0;
}

h1{
        font-size: 35px;
        margin-bottom: 0;
}

h1, h2, h3, a, span, p{
        font-family: 'Nunito', sans-serif;
}

p{
        text-align: center;
}

h2{
        font-size: 13px;
        margin-top: 0;
}

.link{
        background:blue;
        display:inline-block;
        margin:auto;
        margin-bottom: 5px;      
        border-radius: 5px;       
}

.link:hover{
        background:#0202D4;
}

a{
        text-decoration: none;
}

.link a{
        color:white;
        font-weight: bold;
        width:100%;
        display:block;
        padding: 7px;
            box-sizing: border-box;
                
}

img, .large-span{
        vertical-align: middle;
}

.large-span{
        font-size: 30px;
}

.right{
        float:right;
}

.icon-link{
        display:inline-block;
        margin-right: 20px;
        background: rgba(2, 2, 2, 0.23);
        border-radius: 20px;
}

.icon-link:hover{
        background: rgba(2, 2, 2, 0.33);
}

.link-text{
        margin-left:5px;
        padding-right:10px;
        color: black;
}

.clear-fix{
        clear: both;
}

.img-grp-outer-div{
        display: block;
        }
        
.img-grp{
        text-align: center;
}

.img-wrp{
        display: inline-block;
        margin: 20px;
}

.img-grp img{
        display: inline-block;
        
}

.img-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    line-height: 150px;
    text-align: center;
    background: rgba(255,255,255,0.4);
    font-weight: bold;
    cursor: pointer;
}

.img-cover:hover{
    background: rgba(255,255,255,0.2);  
}

#modal-bg{
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width:100%;
        z-index: 9;
        background: rgba(0,0,0,0.4);
}

.hidden{
        display: none;
}

.modal{
        width:90vw;
        height:90vw;
        max-height:90%;
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom:0;
        margin:auto;
        overflow: hidden;
        z-index:10;
        border-radius:20px;
        border: black 2px solid;
        box-shadow: 5px 5px 12px 0px black;
}

.close{
        z-index:11;
        background:url(pics/close-icon.png);
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        right: 10px;
        background-size: cover;
        cursor:pointer;        
}